.bg-container {
  background-color: #eef4f7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-container {
  width: 99%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading-travel {
  color: #334155;
}

.container-travelList {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
}
